.table {
  width: 100%;
  border-collapse: collapse;
}

.TH {
  font-size: 1vw;
  font-weight: 500;
  text-align: left;
  color: grey;
  padding-left: 0.25vw;
  padding-bottom: 1vw;
}

.TR {
  border-bottom: solid 0.1vw #ededed;
}

.imageWrapper {
  position: relative; /* Required for layout="fill" */
  width: 3.7vw; /* Set your desired width */
  height: 3.7vw; /* Set your desired height */
  overflow: hidden; /* Ensures the image doesn't overflow the container */
}

.TD {
  font-size: 1.4vw;
  font-weight: 600;
  text-align: left;
  padding: 0.8vw;
  padding-top: 3.6vh;
  padding-bottom: 3.6vh;
}

.TD2 {
  font-size: 1.4vw;
  font-weight: 600;
  text-align: left;
  padding-top: 3.6vh;
  padding-bottom: 3.6vh;
}

.button {
  background-color: white;
  border: none;
}
.button svg {
  cursor: pointer;
}
