.selectPlayerContainer {
    text-align: center;
    /* margin-top: 1.5vw;
    margin-bottom: 1.5vw; */
  }
  
  .selectPlayerText {
    font-size: 1.1em;
    color: #333;
    margin: 0.vw;
    /* margin-bottom: 0.8vw; */
  }
  
  .teamLogosContainer {
    display: flex;
    justify-content: center;
    gap: 1.5vw;
  }
  
  .logoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .logoWrapper:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.15);
  }
  
  .selectedWrapper {
    transform: scale(1.1);
    box-shadow: 0 0 0.8vw rgba(0, 0, 0, 0.3);
  }
  
  .teamLogo {
    width: 4vw; /* Smaller size for logos */
    height: 4vw; /* Maintain consistent height */
    border-radius: 50%;
    object-fit: contain; /* Ensure entire logo fits without distortion */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .selectedLogo {
    border: 0.2vw solid #4a90e2;
    box-shadow: 0 0 0.5vw rgba(74, 144, 226, 0.5);
  }
  
  .teamLabel {
    margin-top: 0.4vw;
    font-size: 0.9em;
    color: #666;
  }
  
  /* Active Filter Styles */
  .activeFilterListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw;
    margin-bottom: 1vw;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 0.5vw;
    font-size: 1.2vw;
  }
  
  .activeFilterList {
    padding: 0;
    list-style-type: none;
    margin: 0;
    border-radius: 0.3vw;
    overflow-y: scroll;
    max-height: 5vw;
    display: flex;
    flex-wrap: wrap;
  }
  
  .activeFilterItem {
    background-color: #fafafa;
    color: #333;
    border: 1px solid #eaeaea;
    border-radius: 0.3vw;
    padding: 0.5vw 2vw;
    margin: 0.4vw;
    cursor: pointer;
    font-size: 1.1vw;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .activeFilterItem:hover {
    background-color: #e2e2e2;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
  }
  
  .activeFilterItem.active {
    background-color: #d1eaff;
    color: #0056b3;
    border-color: #0056b3;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.1);
  }
  
  /* Available Filter Styles */
  .availableFilterList {
    padding: 0 1vw;
    margin: 0;
  }
  
  .availableFilterItem {
    padding: 0.6vw 1vw;
    margin: 0.4vw 0;
    background-color: #f9f9f9;
    border-radius: 0.5vw;
    border: 0.2vw solid #eaeaea;
    list-style-type: none;
    cursor: pointer;
    font-size: 1.1vw;
    transition: background-color 0.2s ease-in-out;
  }
  
  .availableFilterItem:hover {
    background-color: #f0f0f0;
  }
  
  /* Filter Value Styles */
  .filterValuesList {
    padding: 0;
    list-style-type: none;
    font-size: 1.1vw;
  }
  
  .filterValueItem {
    background-color: #f8f8f8;
    color: #333;
    padding: 0.5vw 1vw;
    margin: 0.3vw 0;
    border-radius: 0.4vw;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.2s ease-in-out;
  }
  
  .filterValueItem:hover {
    background-color: #e0e0e0;
  }
  
  .filterValueItem.active {
    background-color: #d0e0f0;
    color: #104070;
    font-weight: bold;
    border-left: 0.4vw solid #007bff;
    padding-left: 0.8vw;
  }
  
  /* Options List */
  .optionsList {
    padding: 1vw;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.1vw;
  }
  