.container {
  padding: 10px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;
}

.header {
  text-align: left;
  margin-bottom: 15px;
  margin-top: 10px;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleBar h1 {
  font-size: 20px;
  font-weight: 550;
}

.buttonBox button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2c61ab;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonBox button:hover {
  background-color: #0056b3;
}

.noUnderline {
  text-decoration: none;
}

.noUnderline:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem 1rem;
  }

  .titleBar {
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .titleBar h1 {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
    white-space: nowrap;
  }

  .buttonBox button {
    padding: 0.5rem 0.5rem;
    font-size: 0.6rem;
    width: auto;
    height: auto;
  }

  .hideOnMobile {
    display: none !important;
  }
}
.mobileContainer {
  background-color: #5e9bff;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 40px;
  padding-top: 25px;
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;
}
.mobileNoUnderline {
  color: #ececec;
  font-size: 18px;
  text-decoration: none;
}
.mobileTitleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobileTitleBar h1 {
  margin: 0px;
}

.iconButton {
  background: transparent;
  border: none;
  padding-top: 15px;
}

.rosterContainer {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}
