.container {
  margin: 0 auto;
  padding: 0 70px;
  font-family: 'Roboto', sans-serif;
}

.header {
  font-size: 20px;
  font-weight: 550;
  margin-top: 40px;
  margin-bottom: 0px;
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.profileContainer {
  font-size: 1.18vw;
  padding-bottom: 20px;
}

.matchesContainer {
  margin-bottom: 20px;
  overflow: hidden; /* NOTE: this is requied because overflow bug in dashbaord tile where width = 85vw */
}

.sectionHeader {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 600px) {
  .container {
    padding: 0 40px;
  }
  .profileContainer {
    height: auto; /* Let content dictate height on smaller screens */
  }
}
